<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Homepage Docente</title>
</head>
<body>
	<br>
	<h1 style="text-align: center">Docente Home</h1>
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Matricola</th>
				<th>Username</th>
				<th>Voto</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="risultato : ${listaRisultati}" >
				<td th:text="${risultato.matricolaStudente}"></td>
				<td th:text="${risultato.nomeStudente}"></td>
	<td>
				 <form  action="#" th:action="@{/docente/inserisciVoto}"  method="post">
				 <input type="hidden" th:value="${idEsame}" name="idEsame" />
    <input type="hidden" th:value="${matricola}" name="matricola" />
        <input type="hidden" th:value="${risultato.matricolaStudente}" name="matricolaStud" />
    
    <span th:if="${risultato.voto == 0}"><input type="number" name="voto"  min ="1" max="30">
   <input type="submit" value="Inserisci voto" >
   </span>
   </form>
    <span th:unless="${risultato.voto == 0}" th:text="${risultato.voto}" ></span>


</td>				
			
				
			</tr>
		</tbody>
	</table>
</body>
</html>